{% extends "layout.html" %} 

{% block body %}

  <form action="/get-weather-data" method="post" id="location-form">
      <label for="location">Select a location:</label>
      <select name="location" id="location">
          {% for location in locations %}
              <option value="{{ location.id }}">{{ location.location_name }}</option>
          {% endfor %}
      </select>
      <button type="submit">Submit</button>
  </form>

{# 
   <script>
        function submitForm() {
            document.getElementById("location-form").submit();
        }
    </script> #}

{% endblock %}
